/* paginasCarona.css */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o container principal */
.container {
    width: 60%;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative; /* Adiciona position relative */
}

.container2 {
    width: 30%; /* Diminui a largura do container */
    padding: 50px;
    background-color: #008CBA; /* Cor verde */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white; /* Texto branco */
}

/* Estilo para os títulos */
h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para os botões */
button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o resultado da busca de endereço */
.carona-cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para o logotipo */
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.carona-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carona-card h4 {
    margin-bottom: 10px;
}

.carona-card p {
    margin: 5px 0;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back-button a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #0056b3;
}


/* Estilos para o modal */
.modal {
    display: none; /* Ocultar por padrão */
    position: fixed; /* Posição fixa para sobrepor a tela */
    z-index: 1; /* Posição z para ficar acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Rolagem quando necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #fefefe; /* Fundo do conteúdo do modal */
    margin: 15% auto; /* Centralizar na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Largura do conteúdo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para as informações dentro do modal */
.carona-info p {
    margin: 5px 0; /* Espaçamento entre os parágrafos */
}

.carona-info h4 {
    margin-top: 0; /* Remover margem superior do primeiro título */
}

.carona-info strong {
    font-weight: bold; /* Deixar o texto em negrito */
}
